# Environments
venv/
env/
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Veritabanı ve Log dosyaları (İsteğe bağlı - eğer boş hallerini pushlamak istersen bunları silebilirsin)
# *.json 
# *.log

# OS
.DS_Store
Thumbs.db
